/* FONTS */
/* --BODY-FONT-FAMILY: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
 */

/* set 1rem to 10px instead of native 16px to make it easier to calculate 
  font-size values for the rest of the page 
  (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
/* font-size: 62.5%; */

html {
  height: auto;
  /* width: 100%;
  height: 100%; */
}

/* body is for font fmaily, background colors, size, etc. */
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  line-height: 1.5;
}

/* header with flex-box to make flexable/wrap and to keep space between h1 and nav bar*/

header {
  background-color: #353535;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1%;
}

header h1 {
  background-color: #94d2bd;
  font-size: 55px;
  line-height: normal;
  padding: 0 15px 0 5%;
}

header h1 a {
  text-decoration: none;
  columns: #353535;
}

header nav {
  padding-right: 5%;
}

/* header-nav links with flex items */
.header-nav {
  display: flex;
}

.header-nav li {
  padding: 5px;
}

.header-nav a {
  color: #94d2bd;
  font-size: 24px;
  text-decoration: none;
  padding: 5px 10px;
  border-bottom: 4px solid #94d2bd;
}

/* .header-nav a :hover {} */

.welcome-banner {
  background-image: url("./welcome-banner.avif");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 195px;
  position: relative;
}

/* h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 14px;
} */

.welcome-banner h2 {
  background-color: #94d2bd;
  color: #353535;
  font-size: 35px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 5%;
}

/* reference from mini-project2 css grid */
/* dividing main into two separate sections 16% is the headings such as about mj, projects, cotacts 
and 76% is the main contents. the gap is to give space between the headings and contents. */
.container {
  width: 92%;
  padding-bottom: 120px;
  margin: 40px auto 0px auto;
  display: grid;
  grid-template-columns: 16% 76%;
  gap: 2%;
}

.link-sections {
  border-right: 4px solid #445874;
  font-size: 40px;
  text-align: end;
  padding-right: 15px;
}

h2 {
  color: #445874;
  text-align: end;
  /* font-size: ; */
  font-weight: bold;
}

.mj-img {
  width: 20%;
  margin: 0;
  border: 2px solid #94d2bd;
  float: left;
}

/* refrenced https://css-tricks.com/introduction-fr-css-unit/  */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-area */
#work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 45% 25% 25%;
  grid-template-areas:
    "work1 work1"
    "work2 work3"
    "work4 work5";
  gap: 10px;
}

.work1 {
  grid-area: work1;
}
.work2 {
  grid-area: work2;
}
.work3 {
  grid-area: work3;
}
.work4 {
  grid-area: work4;
}
.work5 {
  grid-area: work5;
}

figure {
  width: 100%;
  position: relative;
  border: 3px solid #94d2bd;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit#:~:text=The%20object%2Dfit%20CSS%20property,using%20the%20object%2Dposition%20property. */
#work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(30%) opacity(80%);
}

#work img :hover,
#work figure :hover {
  filter: none;
}

figcaption {
  background-color: #94d2bd;
  padding: 5px;
  position: absolute;
  bottom: 20px;
}

#work a {
  color: #353535;
}

ul.contact-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.contact-nav {
  color: #445874;
  display: inline-block;
  font-size: 26px;
  margin-left: 10px;
  padding: 10px;
  text-decoration: underline;
  font-weight: bold;
}

.contact-nav :visited {
  color: #445874;
  font-style: normal;
  text-decoration: underline;
}



/* small screen devices */


@media screen and (max-width: 576px) {
  header {
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }

  header h1 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  header nav {
    padding-right: 0;
  }

  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .header-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav a {
    color: #94d2bd;
    font-size: 20px;
  }

  .container {
    width: 92%;
    display: grid;
    grid-template-columns: 100%;
    gap: 15%;

    /* grid-template-rows: 100%; */
  }

  #work {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 25% 25% 25%;
    grid-template-areas: "work1" "work2" "work3" "work4" "work5";
  }

  .link-sections {
    /* border: 0 0 4px 0; */
    border-right: 0;
    border-bottom: 5px solid #445874;
  }

  h2 {
    color: #445874;
    text-align: center;
    /* font-size: ; */
    font-weight: bold;
    font-size: 25px;
  }

  figure {
    width: 100%;
  }

  #work img {
    height: 5vh;
  }

  ul.contact-nav {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}


/* medium screen devices */

@media screen and (max-width: 768px) {
  header {
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }

  header h1 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  header nav {
    padding-right: 0;
  }

  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .header-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav a {
    color: #94d2bd;
    font-size: 20px;
  }

  .container {
    width: 92%;
    display: grid;
    grid-template-columns: 100%;
    gap: 15%;

    /* grid-template-rows: 100%; */
  }

  #work {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 25% 25% 25% 25%;
    grid-template-areas: "work1" "work2" "work3" "work4" "work5";
  }

  .link-sections {
    /* border: 0 0 4px 0; */
    border-right: 0;
    border-bottom: 5px solid #445874;
  }

  h2 {
    color: #445874;
    text-align: center;
    /* font-size: ; */
    font-weight: bold;
    font-size: 25px;
  }

  figure {
    width: 100%;
  }

  #work img {
    height: 5vh;
  }

  ul.contact-nav {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}



@media screen and (max-width: 1100px) {
 header{
  background-color: #353535;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1%;
 }

 h2 {
  color: #445874;
  text-align: center;
  /* font-size: ; */
  font-weight: bold;
  font-size: 26px;
}

ul.contact-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.contact-nav {
  color: #445874;
  display: inline-block;
  font-size: 26px;
  margin-left: 10px;
  padding: 12px;
  text-decoration: underline;
  font-weight: bold;
}
}