/* universal selector */
* {
    font-family: 'Permanent Marker', cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* tag/elements */

body{
    background-color: #f1faee;
}

a {
    text-decoration: none;
}


header {
    width: 100%;
    background-color:#e9d8a6;
    color: #f1faee;
    border-bottom: 5px solid #ff17;
}

.topheader-wrap {
    max-width: 2300px;
    margin: 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: right;
    text-align: right;
}

h1 {
    text-align: center;
}

header nav{
    color: #f1faee;
    margin: 5px 5px 5px 0;
}
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display:inline-block;
    padding-right: 20px;
}

header nav a {
    font-size: 24px;
}
header nav a:visited {color: inherit;}

main {
    height: 80%;
    padding: 20px;
}

.highlights{
    color: #e9d8a6;
}


.highlights:hover{
    color: red;
}

.about-mj{
    /* height: 300px; */
    padding: 45px;
    display: block;
}

.about-mj img{
    height: 250px;
    width: auto;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    float: left;
}

.projects {
    /* height: 300px; */
    padding: 45px;
    display: block;
}

.projects img{
    height: 250px;
    width: auto;
    border: 5px solid black;
}

.projects a{
    padding: 5px;
}

.contact{
    /* height: 300px; */
    padding: 45px;
    display: block;
    color: black;
}

.contact ul {
    list-style-type: none;
}

footer {
padding: 20px;
}


/* media */
@media screen and (max-width: 960px) {
    header{
 padding-bottom:0;
}
}

@media screen and (max-width: 960px){
    header nav{
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    header nav ul {
        width:100%;
        justify-content: center;
    }
}
    