/* :root {

} */

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 40.5%;
}

/* body is for font fmaily, background colors, size, etc. */
body {
  font-family: sans-serif;
  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
  background-color: #edf2f4;
  color: #284b63;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #353535;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

div.baseline {
  display: inherit;
  align-items: baseline;
}

header h1.page-title {
  font-size: 3rem;
  padding-left: 2rem;
  border: 1px;
  border-style: solid #94d2bd;
  background-color: #94d2bd;
  margin: 0.9rem 0;
}

header nav {
  display: inherit;
  flex-wrap: wrap;
  font-size: 103%;
  color: #94d2bd;
  padding-left: 9rem;
  margin-left: 1rem;
}

header nav ul li {
  display: inline-flex;
  justify-content: flex-end;
  padding-left: 2rem;
}

header nav a {
  text-decoration: underline;
  font-weight: bold;
}

.highlights:hover {
  color: #edf2f4;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.6s;
  box-shadow: inset 0px -30px 0 0px #edf2f4;
}

header nav a:visited {
  color: inherit;
}

div.welcome {
  border: #94d2bd;
  border-radius: rem;
}
.welcome {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 24vh;
  width: webkit-fill-available;
  background-image: url("./portfolio-mj2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  align-content: space-between;
}
div.welcome > p {
  border: 0.5rem solid #94d2bd;
  background-color: #94d2bd;
  color: #284b63;
  display: flex;
  margin: 23.7rem 0 0 46.9rem;
}

section {
  display: flex;
  background-color: #ededed;
  color: #353535;
  padding: 1rem;
  width: webkit-fill-available;
  text-decoration: none;
}

h2.highlights {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: #353535;
  padding: 1rem;
  margin: 0;
  font-size: 2rem;
  border-right: 4px solid #284b63;
  width: 10rem;
  text-align: right;
  text-decoration: none;
}

section h2 > p {
  color: #353535;
  margin: 0rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  
}
.main {
  width: 85%;
  text-align: left;
  padding-left: 1rem;
  text-decoration: none;
}

#first-project{
  height:15vh;
  width: auto ;
  display: flex;
  border: 5px solid black;
  margin-left: 10rem;
  margin-bottom: 1rem;
}

#second-project{
  height:13vh;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10.5rem;
  margin-bottom: 1rem;
  border: 5px solid black;
}
#third-project{
  height:13vh;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10.5rem;
  border: 5px solid black;
}




/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  body {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  body:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  body {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}






